{% extends 'forkilla/base.html' %}

{% block navigation %}
{% endblock %}

{% block header %}
<div class="header restaurant" id="header">
  <div class="logo" id="header-logo">

  </div>
</div>
{% endblock %}
{% block content %}

<div class="trail">
  <div class="content">
    <a href="{% url 'index' %}">forkilla</a> >

    <a href="{% url 'restaurants' %}{{restaurant.city}}">{{reservation.restaurant.city}}</a>
    > <a href="{% url 'restaurants' %}{{restaurant.city}}/{{restaurant.category}}">{{reservation.restaurant.get_human_category}}</a>
    > <a href="{% url 'restaurant' restaurant.restaurant_number%}">{{reservation.restaurant.name}}</a>
    > <b>Checkout</b>
  </div>
</div>

<div class="text-body">

    <h2 style="margin: 0">Your reservation was placed successfully!</h2><br>
    {{reservation.restaurant.name}}, {{time}}<br>
    {{reservation.num_people}} person(s)

</div>
{% endblock content %}
