{% extends 'forkilla/base.html' %}

{% block content %}

<div class="trail">
  <div class="content">
    <a href="{% url 'index' %}">forkilla</a> > <b>Register</b>
  </div>
</div>

<div class="text-body">

  <h2 style="margin: 0">Register now:</h2>

  <form class="register-form" method="POST" >
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="button inverted light-shadow"><i class="fas fa-check"></i> Confirm</button>
  </form>

  <h2 style="margin: 2em 0 .5em 0; font-size: 20px">There's plenty of room at our table!</h2>
  Already registered? <a href="{% url 'login' %}">Log in</a>

</div>
{% endblock content %}

{% block user %}
{% endblock %}

{% block last-viewed %}
{% endblock %}
